.main-wrap {
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: -100px;
}
h1.main-head {
    background: #f3f8fd;
    display: inline-block;
    padding: 6px 10px 6px 10px;
    color: #333333;
    font-size: 30px;
}
h2.action-head {
    text-align: center;
    font-size: 30px;
    font-family: 'Roboto';
    color: #333333;
    padding-bottom: 30px;
    padding-top: 20px;
}
.container.bg {
    background: #d94856;
}
.action-desc {
    font-size: 24px;
    font-family: 'Roboto';
    color: #fff;
    padding-left: 40px;
    padding-top: 40px;
    margin-bottom: 0;
}
.year {
    font-weight: 500;
}
.payment {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    padding-left: 40px;
    padding-top: 40px;
}
.payment-new {
    color: #fff;
    font-size: 36px;
    margin-left: 40px;
    padding-left: 10px;
    padding-right: 10px;
    background: #1d5b97;
    display: inline-block;
}
.container.bg .col-md-4 {
    padding-left: 0px;
    padding-right: 0px;
}
.payment-month {
    position: relative;
    display: inline-flex;
}
p.payment-old {
    font-size: 14px;
    color: #fff;
    padding-left: 20px;
}
p.desc-next, p.desc-second {
    font-size: 24px;
    font-family: 'Roboto';
    color: #fff;
    padding-left: 40px;
    margin-bottom: 0;
}
.price {
    display: block;
    font-size: 20px;
    text-decoration: line-through;
}
.link-action {
    margin-top: 20px;
    margin-left: 40px;
}
.link-action a {
    cursor: pointer;
    background: #fbd302;
    color: #333;
    text-align: center;
    padding: 18px 70px 18px 70px;
    font-size: 18px;
    font-weight: 400;
}
.bg .img-container {
    width: 100%;
    height: 410px;
    margin-top: 20px;
}
.bg .woman {
    background: url(./images/woman.png);
    margin-left: 60px;
    -webkit-background-size: contain;
    background-size: contain;
    background-position-x: left;
    background-repeat: no-repeat;
    background-position-y: 14px;
}

.bg .man {
    background: url(./images/man.png);
    -webkit-background-size: contain;
    background-size: contain;
    background-position-x: right;
    background-repeat: no-repeat;
    background-position-y: 8px;
}

/******items************/
.item-header {
    height: 80px;
    background: #f3f8fd;
    margin-top: 32px;
    border: 1px solid #e4ebf2;
    border-bottom: unset;
}
#items .col-md-6 {
    padding-left: 0;
    padding-right: 0;
}
span.color {
    width: 40px;
    height: 40px;
    background: #1d5b97;
    border-radius: 50%;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    margin-left: 30px;
    margin-top: 20px;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
}
.item-head1 {
    font-size: 24px;
    color: #464c55;
    font-weight: 500;
}
ul.item-body-desc {
    margin-top: 26px;
    padding-left: 44px;
}

.item-body-desc li {
    font-size: 14px;
    color: #464C56;
    line-height: 2;
}
.item-body {
    border: 1px solid #e4ebf2;
    padding-bottom: 98px;
}
.item-body-second, .item-body-second-left {
    border: 1px solid #e4ebf2;
    padding-bottom: 22px;
}
.item-body-right {
    border: 1px solid #e4ebf2;
    padding-bottom: 22px;
}
.wrap-action-left {
    padding-right: 14px;
}
.wrap-action-right {
    padding-left: 14px;
}
.item-body-second, .item-body-second-left {
    margin-bottom: 58px;
}

@media (max-width: 1199px){

    .payment-new {
        font-size: 28px;
    }
    .item-head1 {
        font-size: 20px;
    }
    .item-body {
        padding-bottom: 154px;
    }
    .item-body-second-left {
        border: 1px solid #e4ebf2;
        padding-bottom: 106px;
    }
    .bg .woman {
        margin-left: 14px;
    }
}
@media (max-width: 991px){
    .action-desc {
        display: inline-block;
    }
    p.desc-next {
        padding-left: 4px;
        display: inline-block;
    }
    p.desc-second {
        padding-left: 38px;
        display: inline-block;
    }
    .link-action {
        margin-top: 8px;
        margin-left: 40px;
        display: inline-block;
        float: right;
        margin-right: 40px;
    }
    .item-body {
        padding-bottom: 22px;
    }
    .item-body-second-left {
        padding-bottom: 22px;
    }
    #items .col-md-6 {
        padding-left: 14px;
        padding-right: 14px;
    }
    .wrap-action-left, .wrap-action-right {
        padding-right: 0;
        padding-left: 0;
    }
}
@media (max-width: 607px){
    .container.bg .col-md-4 {
        text-align: center;
    }
    .action-desc, p.desc-next, p.desc-second {

        padding-left: 0;
    }
    .link-action {
        margin-top: 30px;
        margin-left: 0;
        display: block;
        float: unset;
        margin-right: 0;
    }
    .payment-new {
        margin-left: 0;
    }
}
@media (max-width: 607px){
    .bg .img-container {
        height: 274px;
    }
    .item-head1 {
        font-size: 16px;
    }
    ul.item-body-desc {
        padding-left: 10px;
        padding-right: 10px;
    }
    span.color {
        margin-left: 20px;
    }
    .payment {
        padding-left: 0;
    }
    .bg .woman {
        margin-left: 0;
    }
}
@media (max-width: 374px){
    .bg .img-container {
        height: 234px;
    }

    .item-head1 {
        font-size: 14px;
    }
    span.color {
        margin-left: 10px;
    }
    ul.item-body-desc {
        padding-left: 10px;
        padding-right: 10px;
    }
}