
/* 	--------------------------------------------------
    uSkinned.net

	PALETTE
    -------------------------------------------------- */


/* 	--------------------------------------------------
	TABLE OF CONTENTS
    -------------------------------------------------- 

	1.0 BACKGROUNDS
	2.0 TEXT
	3.0 BORDERS
	4.0 BUTTONS
	
	
	COLOURS 
	
	c1	#ec1b47		236,27,71
	c2	#202020		32,32,32
	c3	#080808		8,8,8
	c4	#f7f7f7		247,247,247
	c5 	#ffffff		255,255,255
	c6  #dfdbdc		223,219,220
	
	
*/



/*	--------------------------------------------------
	1.0 BACKGROUNDS
	-------------------------------------------------- */

.c1-bg,
#top-link-block a {
       background-color: #fbd302;
}
		.c1-bg.bg-perc_90 {
			background-color:rgba(236,27,71,0.9);
			}
		.c1-bg.bg-perc_80,
		html.no-touch .apc.pod-windows .item a.info.c1-bg:hover::before {
			background-color:rgba(236,27,71,0.8);
			}
		.c1-bg.bg-perc_70 {
			background-color:rgba(236,27,71,0.7);
			}
		.c1-bg.bg-perc_60 {
			background-color:rgba(236,27,71,0.6);
			}
		.c1-bg.bg-perc_50,
		.apc.banner .item.overlay.c1-bg::before,
		.apc.pod-windows .item.overlay .info.c1-bg::before {
			background-color:rgba(236,27,71,0.5);
			}
		.c1-bg.bg-perc_40 {
			background-color:rgba(236,27,71,0.4);
			}
		.c1-bg.bg-perc_30 {
			background-color:rgba(236,27,71,0.3);
			}
		.c1-bg.bg-perc_20 {
			background-color:rgba(236,27,71,0.2);
			}
		.c1-bg.bg-perc_10 {
			background-color:rgba(236,27,71,0.1);
			}
	
	.c2-bg {
		background-color:#202020; background-color:rgba(32,32,32,1);
		}
		.c2-bg.bg-perc_90 {
			background-color:rgba(32,32,32,0.9);
			}
		.c2-bg.bg-perc_80,
		html.no-touch .apc.pod-windows .item a.info.c2-bg:hover::before {
			background-color:rgba(32,32,32,0.8);
			}
		.c2-bg.bg-perc_70 {
			background-color:rgba(32,32,32,0.7);
			}
		.c2-bg.bg-perc_60 {
			background-color:rgba(32,32,32,0.6);
			}
		.c2-bg.bg-perc_50,
		.apc.banner .item.overlay.c2-bg::before,
		.apc.pod-windows .item.overlay .info.c2-bg::before {
			background-color:rgba(32,32,32,0.5);
			}
		.c2-bg.bg-perc_40 {
			background-color:rgba(32,32,32,0.4);
			}
		.c2-bg.bg-perc_30 {
			background-color:rgba(32,32,32,0.3);
			}
		.c2-bg.bg-perc_20 {
			background-color:rgba(32,32,32,0.2);
			}
		.c2-bg.bg-perc_10 {
			background-color:rgba(32,32,32,0.1);
			}

.c3-bg, footer,
.modal-backdrop, .modal-backdrop.in {
    background-color: #1d5b97;
    background-color: #1d5b97;
}
bady {
    background-color: transparent;
}
		.c3-bg.bg-perc_90 {
			background-color:rgba(8,8,8,0.9);
	  		}
		.c3-bg.bg-perc_80,
		html.no-touch .apc.pod-windows .item a.info.c3-bg:hover::before {
			background-color:rgba(8,8,8,0.8);
	  		}
		.c3-bg.bg-perc_70 {
			background-color:rgba(8,8,8,0.7);
	  		}
		.c3-bg.bg-perc_60 {
			background-color:rgba(8,8,8,0.6);
	  		}
		.c3-bg.bg-perc_50,
		.apc.banner .item.overlay.c3-bg::before,
		.apc.pod-windows .item.overlay .info.c3-bg::before {
			background-color:rgba(8,8,8,0.5);
	  		}
		.c3-bg.bg-perc_40 {
			background-color:rgba(8,8,8,0.4);
	  		}
		.c3-bg.bg-perc_30 {
			background-color:rgba(8,8,8,0.3);
	  		}
		.c3-bg.bg-perc_20 {
			background-color:rgba(8,8,8,0.2);
	  		}
		.c3-bg.bg-perc_10 {
			background-color:rgba(8,8,8,0.1);
	  		}
		
	.c4-bg {
		background-color:#f7f7f7; background-color:rgba(247,247,247,1);
		}
		.c4-bg.bg-perc_90 {
			background-color:rgba(247,247,247,0.9);
			}
		.c4-bg.bg-perc_80,
		html.no-touch .apc.pod-windows .item a.info.c4-bg:hover::before {
			background-color:rgba(247,247,247,0.8);
			}
		.c4-bg.bg-perc_70 {
			background-color:rgba(247,247,247,0.7);
			}
		.c4-bg.bg-perc_60 {
			background-color:rgba(247,247,247,0.6);
			}
		.c4-bg.bg-perc_50,
		.apc.banner .item.overlay.c4-bg::before,
		.apc.pod-windows .item.overlay .info.c4-bg::before {
			background-color:rgba(247,247,247,0.5);
			}
		.c4-bg.bg-perc_40 {
			background-color:rgba(247,247,247,0.4);
			}
		.c4-bg.bg-perc_30 {
			background-color:rgba(247,247,247,0.3);
			}
		.c4-bg.bg-perc_20 {
			background-color:rgba(247,247,247,0.2);
			}
		.c4-bg.bg-perc_10 {
			background-color:rgba(247,247,247,0.1);
			}
		
	.c5-bg, #site, .cookie-notice, .spc.pricing-menu {
		/*background-color:#ffffff; background-color:rgba(255,255,255,1);*/
		}	
		.c5-bg.bg-perc_90 {
			background-color:rgba(255,255,255,0.9);
			}
		.c5-bg.bg-perc_80,
		html.no-touch .apc.pod-windows .item a.info.c5-bg:hover::before {
			background-color:rgba(255,255,255,0.8);
			}
		.c5-bg.bg-perc_70 {
			background-color:rgba(255,255,255,0.7);
			}
		.c5-bg.bg-perc_60 {
			background-color:rgba(255,255,255,0.6);
			}
		.c5-bg.bg-perc_50,
		.apc.banner .item.overlay.c5-bg::before,
		.apc.pod-windows .item.overlay .info.c5-bg::before {
			background-color:rgba(255,255,255,0.5);
			}
		.c5-bg.bg-perc_40 {
			background-color:rgba(255,255,255,0.4);
			}
		.c5-bg.bg-perc_30 {
			background-color:rgba(255,255,255,0.3);
			}
		.c5-bg.bg-perc_20 {
			background-color:rgba(255,255,255,0.2);
			}
		.c5-bg.bg-perc_10 {
			background-color:rgba(255,255,255,0.1);
			}
			
	.c6-bg {
		background-color:#dfdbdc; background-color:rgba(223,219,220,1);
		}
		.c6-bg.bg-perc_90 {
			background-color:rgba(223,219,220,0.9);
			}
		.c6-bg.bg-perc_80,
		html.no-touch .apc.pod-windows .item a.info.c6-bg:hover::before {
			background-color:rgba(223,219,220,0.8);
			}
		.c6-bg.bg-perc_70 {
			background-color:rgba(223,219,220,0.7);
			}
		.c6-bg.bg-perc_60 {
			background-color:rgba(223,219,220,0.6);
			}
		.c6-bg.bg-perc_50,
		.apc.banner .item.overlay.c6-bg::before,
		.apc.pod-windows .item.overlay .info.c6-bg::before {
			background-color:rgba(223,219,220,0.5);
			}
		.c6-bg.bg-perc_40 {
			background-color:rgba(223,219,220,0.4);
			}
		.c6-bg.bg-perc_30 {
			background-color:rgba(223,219,220,0.3);
			}
		.c6-bg.bg-perc_20 {
			background-color:rgba(223,219,220,0.2);
			}
		.c6-bg.bg-perc_10 {
			background-color:rgba(223,219,220,0.1);
			}
.c7-bg {
    background-color: #1d5b97;
    background-color: rgba(29,91,151,1);
}

    .c7-bg .bg-perc_90 {
        background-color: rgba(29,91,151,0.9);
    }

    .c7-bg .bg-perc_80,
    html.no-touch .apc.pod-windows .item a.info .c7-bg :hover::before {
        background-color: rgba(29,91,151,0.8);
    }

    .c7-bg .bg-perc_70 {
        background-color: rgba(29,91,151,0.7);
    }

    .c7-bg .bg-perc_60 {
        background-color: rgba(29,91,151,0.6);
    }

    .c7-bg .bg-perc_50,
    .apc.banner .item.overlay .c7-bg ::before,
    .apc.pod-windows .item.overlay .info .c7-bg ::before {
        background-color: rgba(29,91,151,0.5);
    }

    .c7-bg .bg-perc_40 {
        background-color: rgba(29,91,151,0.4);
    }

    .c7-bg .bg-perc_30 {
        background-color: rgba(29,91,151,0.3);
    }

    .c7-bg .bg-perc_20 {
        background-color: rgba(29,91,151,0.2);
    }

    .c7-bg .bg-perc_10 {
        background-color: rgba(29,91,151,0.1);
    }

.c8-bg {
    background-color: #3b76a3;
    background-color: rgba(59,118,163,1);
}

    .c8-bg .bg-perc_90 {
        background-color: rgba(59,118,163,0.9);
    }

    .c8-bg .bg-perc_80,
    html.no-touch .apc.pod-windows .item a.info .c8-bg :hover::before {
        background-color: rgba(59,118,163,0.8);
    }

    .c8-bg .bg-perc_70 {
        background-color: rgba(59,118,163,0.7);
    }

    .c8-bg .bg-perc_60 {
        background-color: rgba(59,118,163,0.6);
    }

    .c8-bg .bg-perc_50,
    .apc.banner .item.overlay .c8-bg ::before,
    .apc.pod-windows .item.overlay .info .c8-bg ::before {
        background-color: rgba(59,118,163,0.5);
    }

    .c8-bg .bg-perc_40 {
        background-color: rgba(59,118,163,0.4);
    }

    .c8-bg .bg-perc_30 {
        background-color: rgba(59,118,163,0.3);
    }

    .c8-bg .bg-perc_20 {
        background-color: rgba(59,118,163,0.2);
    }

    .c8-bg .bg-perc_10 {
        background-color: rgba(59,118,163,0.1);
    }

.c9-bg {
    background-color: #5b94be;
    background-color: rgba(91,148,190,1);
}

    .c9-bg .bg-perc_90 {
        background-color: rgba(91,148,190,0.9);
    }

    .c9-bg .bg-perc_80,
    html.no-touch .apc.pod-windows .item a.info .c9-bg :hover::before {
        background-color: rgba(91,148,190,0.8);
    }

    .c9-bg .bg-perc_70 {
        background-color: rgba(91,148,190,0.7);
    }

    .c9-bg .bg-perc_60 {
        background-color: rgba(91,148,190,0.6);
    }

    .c9-bg .bg-perc_50,
    .apc.banner .item.overlay .c9-bg ::before,
    .apc.pod-windows .item.overlay .info .c9-bg ::before {
        background-color: rgba(91,148,190,0.5);
    }

    .c9-bg .bg-perc_40 {
        background-color: rgba(91,148,190,0.4);
    }

    .c9-bg .bg-perc_30 {
        background-color: rgba(91,148,190,0.3);
    }

    .c9-bg .bg-perc_20 {
        background-color: rgba(91,148,190,0.2);
    }

    .c9-bg .bg-perc_10 {
        background-color: rgba(91,148,190,0.1);
    }

.c10-bg {
    background-color: #fbd303;
    background-color: rgba(251,211,3,1);
}

    .c10-bg .bg-perc_90 {
        background-color: rgba(251,211,3,0.9);
    }

    .c10-bg .bg-perc_80,
    html.no-touch .apc.pod-windows .item a.info .c10-bg :hover::before {
        background-color: rgba(251,211,3,0.8);
    }

    .c10-bg .bg-perc_70 {
        background-color: rgba(251,211,3,0.7);
    }

    .c10-bg .bg-perc_60 {
        background-color: rgba(251,211,3,0.6);
    }

    .c10-bg .bg-perc_50,
    .apc.banner .item.overlay .c10-bg ::before,
    .apc.pod-windows .item.overlay .info .c10-bg ::before {
        background-color: rgba(251,211,3,0.5);
    }

    .c10-bg .bg-perc_40 {
        background-color: rgba(251,211,3,0.4);
    }

    .c10-bg .bg-perc_30 {
        background-color: rgba(251,211,3,0.3);
    }

    .c10-bg .bg-perc_20 {
        background-color: rgba(251,211,3,0.2);
    }

    .c10-bg .bg-perc_10 {
        background-color: rgba(251,211,3,0.1);
    }

/*	--------------------------------------------------
	2.0 TEXT
	-------------------------------------------------- */

	body { 
		color:#555555;
		}

a, a:hover, a:focus, a:active {
    color: #1d5b97;
}
	.heading, h1, h2, h3, h4, h5, h6, .tables .head {
		color:#080808; color:rgba(8,8,8,1);
		}	
	.c1-bg .text .heading, .c1-bg .text h1, .c1-bg .text h2, .c1-bg .text h3, .c1-bg .text h4, .c1-bg .text h5, .c1-bg .text h6,
	.c3-bg .text .heading, .c3-bg .text h1, .c3-bg .text h2, .c3-bg .text h3, .c3-bg .text h4, .c3-bg .text h5, .c3-bg .text h6 {
		color:inherit;
		}

.c1-text,
.c1-text:hover, .c1-text:focus, .c1-text:active,
blockquote::before, blockquote::after {
    color: #ffffff;
}
		.c1-text.text-perc_90 {
			color:rgba(236,27,71,0.9);
			}
		.c1-text.text-perc_80 {
			color:rgba(236,27,71,0.8);
			}
		.c1-text.text-perc_70 {
			color:rgba(236,27,71,0.7);
			}
		.c1-text.text-perc_60 {
			color:rgba(236,27,71,0.6);
			}
		.c1-text.text-perc_50 {
			color:rgba(236,27,71,0.5);
			}
		.c1-text.text-perc_40 {
			color:rgba(236,27,71,0.4);
			}
		.c1-text.text-perc_30 {
			color:rgba(236,27,71,0.3);
			}
		.c1-text.text-perc_20 {
			color:rgba(236,27,71,0.2);
			}
		.c1-text.text-perc_10 {
			color:rgba(236,27,71,0.1);
			}
			
	.c2-text,
	.c2-text:hover, .c2-text:focus, .c2-text:active {
		color:#202020; color:rgba(32,32,32,1);
		}
		.c2-text.text-perc_90 {
			color:rgba(32,32,32,0.9);
			}
		.c2-text.text-perc_80 {
			color:rgba(32,32,32,0.8);
			}
		.c2-text.text-perc_70 {
			color:rgba(32,32,32,0.7);
			}
		.c2-text.text-perc_60 {
			color:rgba(32,32,32,0.6);
			}
		.c2-text.text-perc_50 {
			color:rgba(32,32,32,0.5);
			}
		.c2-text.text-perc_40 {
			color:rgba(32,32,32,0.4);
			}
		.c2-text.text-perc_30 {
			color:rgba(32,32,32,0.3);
			}
		.c2-text.text-perc_20 {
			color:rgba(32,32,32,0.2);
			}
		.c2-text.text-perc_10 {
			color:rgba(32,32,32,0.1);
			}
			
	.c3-text,
	.c3-text:hover, .c3-text:focus, .c3-text:active {
		color:#080808; color:rgba(8,8,8,1);
		}
		.c3-text.text-perc_90 {
			color:rgba(8,8,8,0.9);
			}
		.c3-text.text-perc_80 {
			color:rgba(8,8,8,0.8);
			}
		.c3-text.text-perc_70 {
			color:rgba(8,8,8,0.7);
			}
		.c3-text.text-perc_60 {
			color:rgba(8,8,8,0.6);
			}
		.c3-text.text-perc_50 {
			color:rgba(8,8,8,0.5);
			}
		.c3-text.text-perc_40 {
			color:rgba(8,8,8,0.4);
			}
		.c3-text.text-perc_30 {
			color:rgba(8,8,8,0.3);
			}
		.c3-text.text-perc_20 {
			color:rgba(8,8,8,0.2);
			}
		.c3-text.text-perc_10 {
			color:rgba(8,8,8,0.1);
			}
			
	.c4-text,
	.c4-text:hover, .c4-text:focus, .c4-text:active,
	footer {
		color:#f7f7f7; color:rgba(247,247,247,1);
		}
		.c4-text.text-perc_90 {
			color:rgba(247,247,247,0.9);
			}
		.c4-text.text-perc_80 {
			color:rgba(247,247,247,0.8);
			}
		.c4-text.text-perc_70 {
			color:rgba(247,247,247,0.7);
			}
		.c4-text.text-perc_60 {
			color:rgba(247,247,247,0.6);
			}
		.c4-text.text-perc_50 {
			color:rgba(247,247,247,0.5);
			}
		.c4-text.text-perc_40 {
			color:rgba(247,247,247,0.4);
			}
		.c4-text.text-perc_30 {
			color:rgba(247,247,247,0.3);
			}
		.c4-text.text-perc_20 {
			color:rgba(247,247,247,0.2);
			}
		.c4-text.text-perc_10 {
			color:rgba(247,247,247,0.1);
			}
			
	.c5-text,
	.c5-text:hover, .c5-text:focus, .c5-text:active,
	.c1-bg blockquote, .c2-bg blockquote, .c3-bg blockquote,
	.c1-bg blockquote::before, .c1-bg blockquote::after,
	#top-link-block a,
	footer .heading,
	footer a, footer a:focus, footer a:active {
		color:#ffffff; color:rgba(255,255,255,1);
		}	 
		.c5-text.text-perc_90 {
			color:rgba(255,255,255,0.9);
			}
		.c5-text.text-perc_80 {
			color:rgba(255,255,255,0.8);
			}
		.c5-text.text-perc_70,
		html.no-touch footer a:hover {
			color:rgba(255,255,255,0.7);
			}
		.c5-text.text-perc_660 {
			color:rgba(255,255,255,0.6);
			}
		.c5-text.text-perc_50 {
			color:rgba(255,255,255,0.5);
			}
		.c5-text.text-perc_40 {
			color:rgba(255,255,255,0.4);
			}
		.c5-text.text-perc_30 {
			color:rgba(255,255,255,0.3);
			}
		.c5-text.text-perc_20 {
			color:rgba(255,255,255,0.2);
			}
		.c5-text.text-perc_10 {
			color:rgba(255,255,255,0.1);
			}
			
	.c6-text {
		color:#dfdbdc; color:rgba(223,219,220,1);
		}	
		.c6-text.text-perc_90 {
			color:rgba(223,219,220,0.9);
			}
		.c6-text.text-perc_80 {
			color:rgba(223,219,220,0.8);
			}
		.c6-text.text-perc_70 {
			color:rgba(223,219,220,0.7);
			}
		.c6-text.text-perc_60 {
			color:rgba(223,219,220,0.6);
			}
		.c6-text.text-perc_50 {
			color:rgba(223,219,220,0.5);
			}
		.c6-text.text-perc_40 {
			color:rgba(223,219,220,0.4);
			}
		.c6-text.text-perc_30 {
			color:rgba(223,219,220,0.3);
			}
		.c6-text.text-perc_20 {
			color:rgba(223,219,220,0.2);
			}
		.c6-text.text-perc_10 {
			color:rgba(223,219,220,0.1);
			}

.c7-text {
    color: #1d5b97;
    color: rgba(29,91,151,1);
}

    .c7-text.text-perc_90 {
        color: rgba(29,91,151,0.9);
    }

    .c7-text.text-perc_80 {
        color: rgba(29,91,151,0.8);
    }

    .c7-text.text-perc_70 {
        color: rgba(29,91,151,0.7);
    }

    .c7-text.text-perc_60 {
        color: rgba(29,91,151,0.6);
    }

    .c7-text.text-perc_50 {
        color: rgba(29,91,151,0.5);
    }

    .c7-text.text-perc_40 {
        color: rgba(29,91,151,0.4);
    }

    .c7-text.text-perc_30 {
        color: rgba(29,91,151,0.3);
    }

    .c7-text.text-perc_20 {
        color: rgba(29,91,151,0.2);
    }

    .c7-text.text-perc_10 {
        color: rgba(29,91,151,0.1);
    }

.c8-text {
    color: #3b76a3;
    color: rgba(59,118,163,1);
}

    .c8-text.text-perc_90 {
        color: rgba(29,91,151,0.9);
    }

    .c8-text.text-perc_80 {
        color: rgba(59,118,163,0.8);
    }

    .c8-text.text-perc_70 {
        color: rgba(59,118,163,0.7);
    }

    .c8-text.text-perc_60 {
        color: rgba(59,118,163,0.6);
    }

    .c8-text.text-perc_50 {
        color: rgba(59,118,163,0.5);
    }

    .c8-text.text-perc_40 {
        color: rgba(59,118,163,0.4);
    }

    .c8-text.text-perc_30 {
        color: rgba(59,118,163,0.3);
    }

    .c8-text.text-perc_20 {
        color: rgba(59,118,163,0.2);
    }

    .c8-text.text-perc_10 {
        color: rgba(59,118,163,0.1);
    }

.c9-text {
    color: #5b94be;
    color: rgba(91,148,190,1);
}

    .c9-text.text-perc_90 {
        color: rgba(29,91,151,0.1);
    }

    .c9-text.text-perc_80 {
        color: rgba(91,148,190,0.8);
    }

    .c9-text.text-perc_70 {
        color: rgba(91,148,190,0.7);
    }

    .c9-text.text-perc_60 {
        color: rgba(91,148,190,0.6);
    }

    .c9-text.text-perc_50 {
        color: rgba(91,148,190,0.5);
    }

    .c9-text.text-perc_40 {
        color: rgba(91,148,190,0.4);
    }

    .c9-text.text-perc_30 {
        color: rgba(91,148,190,0.3);
    }

    .c9-text.text-perc_20 {
        color: rgba(91,148,190,0.2);
    }

    .c9-text.text-perc_10 {
        color: rgba(91,148,190,0.1);
    }

.c10-text {
    color: #fbd303;
    color: rgba(251,211,3,1);
}

    .c10-text.text-perc_90 {
        color: rgba(251,211,3,0.9);
    }

    .c10-text.text-perc_80 {
        color: rgba(251,211,3,0.8);
    }

    .c10-text.text-perc_70 {
        color: rgba(251,211,3,0.7);
    }

    .c10-text.text-perc_60 {
        color: rgba(251,211,3,0.6);
    }

    .c10-text.text-perc_50 {
        color: rgba(251,211,3,0.5);
    }

    .c10-text.text-perc_40 {
        color: rgba(251,211,3,0.4);
    }

    .c10-text.text-perc_30 {
        color: rgba(251,211,3,0.3);
    }

    .c10-text.text-perc_20 {
        color: rgba(251,211,3,0.2);
    }

    .c10-text.text-perc_10 {
        color: rgba(251,211,3,0.1);
    }

/*	--------------------------------------------------
	3.0 BORDERS
	-------------------------------------------------- */
	
	.c1-borders {
		border-color:#ec1b47; border-color:rgba(236,27,71,1);
        border:none;
		}
		.c1-borders.borders-perc_90 {
			border-color:rgba(236,27,71,0.9);
			}
		.c1-borders.borders-perc_80 {
			border-color:rgba(236,27,71,0.8);
			}
		.c1-borders.borders-perc_70 {
			border-color:rgba(236,27,71,0.7);
			}
		.c1-borders.borders-perc_60 {
			border-color:rgba(236,27,71,0.6);
			}
		.c1-borders.borders-perc_50 {
			border-color:rgba(236,27,71,0.5);
			}
		.c1-borders.borders-perc_40 {
			border-color:rgba(236,27,71,0.4);
			}
		.c1-borders.borders-perc_30 {
			border-color:rgba(236,27,71,0.3);
			}
		.c1-borders.borders-perc_20 {
			border-color:rgba(236,27,71,0.2);
			}
		.c1-borders.borders-perc_10 {
			border-color:rgba(236,27,71,0.1);
			}
			
	.c2-borders {
		border-color:#202020; border-color:rgba(32,32,32,1);
		}
		.c2-borders.borders-perc_90 {
			border-color:rgba(32,32,32,0.9);
			}
		.c2-borders.borders-perc_80 {
			border-color:rgba(32,32,32,0.8);
			}
		.c2-borders.borders-perc_70 {
			border-color:rgba(32,32,32,0.7);
			}
		.c2-borders.borders-perc_60 {
			border-color:rgba(32,32,32,0.6);
			}
		.c2-borders.borders-perc_50 {
			border-color:rgba(32,32,32,0.5);
			}
		.c2-borders.borders-perc_40 {
			border-color:rgba(32,32,32,0.4);
			}
		.c2-borders.borders-perc_30 {
			border-color:rgba(32,32,32,0.3);
			}
		.c2-borders.borders-perc_20 {
			border-color:rgba(32,32,32,0.2);
			}
		.c2-borders.borders-perc_10 {
			border-color:rgba(32,32,32,0.1);
			}
			
	.c3-borders {
		border-color:#080808; border-color:rgba(8,8,8,1);
		}
		.c3-borders.borders-perc_90 {
			border-color:rgba(8,8,8,0.9);
			}
		.c3-borders.borders-perc_80 {
			border-color:rgba(8,8,8,0.8);
			}
		.c3-borders.borders-perc_70 {
			border-color:rgba(8,8,8,0.7);
			}
		.c3-borders.borders-perc_60 {
			border-color:rgba(8,8,8,0.6);
			}
		.c3-borders.borders-perc_50 {
			border-color:rgba(8,8,8,0.5);
			}
		.c3-borders.borders-perc_40 {
			border-color:rgba(8,8,8,0.4);
			}
		.c3-borders.borders-perc_30 {
			border-color:rgba(8,8,8,0.3);
			}
		.c3-borders.borders-perc_20 {
			border-color:rgba(8,8,8,0.2);
			}
		.c3-borders.borders-perc_10 {
			border-color:rgba(8,8,8,0.1);
			}
			
	.c4-borders {
		border-color:#f7f7f7; border-color:rgba(247,247,247,1);
		}
		.c4-borders.borders-perc_90 {
			border-color:rgba(247,247,247,0.9);
			}
		.c4-borders.borders-perc_80 {
			border-color:rgba(247,247,247,0.8);
			}
		.c4-borders.borders-perc_70 {
			border-color:rgba(247,247,247,0.7);
			}
		.c4-borders.borders-perc_60 {
			border-color:rgba(247,247,247,0.6);
			}
		.c4-borders.borders-perc_50 {
			border-color:rgba(247,247,247,0.5);
			}
		.c4-borders.borders-perc_40 {
			border-color:rgba(247,247,247,0.4);
			}
		.c4-borders.borders-perc_30 {
			border-color:rgba(247,247,247,0.3);
			}
		.c4-borders.borders-perc_20 {
			border-color:rgba(247,247,247,0.2);
			}
		.c4-borders.borders-perc_10 {
			border-color:rgba(247,247,247,0.1);
			}
		
	.c5-borders {
		border-color:#ffffff; border-color:rgba(255,255,255,1);
		}
		.c5-borders.borders-perc_90 {
			border-color:rgba(255,255,255,0.9);
			}
		.c5-borders.borders-perc_80 {
			border-color:rgba(255,255,255,0.8);
			}
		.c5-borders.borders-perc_70 {
			border-color:rgba(255,255,255,0.7);
			}
		.c5-borders.borders-perc_60 {
			border-color:rgba(255,255,255,0.6);
			}
		.c5-borders.borders-perc_50 {
			border-color:rgba(255,255,255,0.5);
			}
		.c5-borders.borders-perc_40 {
			border-color:rgba(255,255,255,0.4);
			}
		.c5-borders.borders-perc_30 {
			border-color:rgba(255,255,255,0.3);
			}
		.c5-borders.borders-perc_20 {
			border-color:rgba(255,255,255,0.2);
			}
		.c5-borders.borders-perc_10 {
			border-color:rgba(255,255,255,0.1);
			}
			
	.c6-borders {
		border-color:#dfdbdc; border-color:rgba(223,219,220,1);
		}	
		.c6-borders.borders-perc_90 {
			border-color:rgba(223,219,220,0.9);
			}
		.c6-borders.borders-perc_80 {
			border-color:rgba(223,219,220,0.8);
			}
		.c6-borders.borders-perc_70 {
			border-color:rgba(223,219,220,0.7);
			}
		.c6-borders.borders-perc_60 {
			border-color:rgba(223,219,220,0.6);
			}
		.c6-borders.borders-perc_50 {
			border-color:rgba(223,219,220,0.5);
			}
		.c6-borders.borders-perc_40 {
			border-color:rgba(223,219,220,0.4);
			}
		.c6-borders.borders-perc_30 {
			border-color:rgba(223,219,220,0.3);
			}
		.c6-borders.borders-perc_20 {
			border-color:rgba(223,219,220,0.2);
			}
		.c6-borders.borders-perc_10 {
			border-color:rgba(223,219,220,0.1);
			}

.c7-borders {
    border-color: #1d5b97;
    border-color: rgba(29,91,151,1);
}

     .c7-borders .borders-perc_90 {
        border-color: rgba(29,91,151,0.9);
    }

     .c7-borders .borders-perc_80 {
        border-color: rgba(29,91,151,0.8);
    }

     .c7-borders .borders-perc_70 {
        border-color: rgba(29,91,151,0.7);
    }

     .c7-borders .borders-perc_60 {
        border-color: rgba(29,91,151,0.6);
    }

     .c7-borders .borders-perc_50 {
        border-color: rgba(29,91,151,0.5);
    }

     .c7-borders .borders-perc_40 {
        border-color: rgba(29,91,151,0.4);
    }

     .c7-borders .borders-perc_30 {
        border-color: rgba(29,91,151,0.3);
    }

     .c7-borders .borders-perc_20 {
        border-color: rgba(29,91,151,0.2);
    }

     .c7-borders .borders-perc_10 {
        border-color: rgba(29,91,151,0.1);
    }


.c8-borders {
    border-color: #3b76a3;
    border-color: rgba(59,118,163,1);
}

    .c8-borders .borders-perc_90 {
        border-color: rgba(59,118,163,0.9);
    }

    .c8-borders .borders-perc_80 {
        border-color: rgba(59,118,163,0.8);
    }

    .c8-borders .borders-perc_70 {
        border-color: rgba(59,118,163,0.7);
    }

    .c8-borders .borders-perc_60 {
        border-color: rgba(59,118,163,0.6);
    }

    .c8-borders .borders-perc_50 {
        border-color: rgba(59,118,163,0.5);
    }

    .c8-borders .borders-perc_40 {
        border-color: rgba(59,118,163,0.4);
    }

    .c8-borders .borders-perc_30 {
        border-color: rgba(59,118,163,0.3);
    }

    .c8-borders .borders-perc_20 {
        border-color: rgba(59,118,163,0.2);
    }

    .c8-borders .borders-perc_10 {
        border-color: rgba(59,118,163,0.1);
    }


.c9-borders {
    border-color: #5b94be;
    border-color: rgba(91,148,190,1);
}

    .c9-borders .borders-perc_90 {
        border-color: rgba(91,148,190,0.9);
    }

    .c9-borders .borders-perc_80 {
        border-color: rgba(91,148,190,0.8);
    }

    .c9-borders .borders-perc_70 {
        border-color: rgba(91,148,190,0.7);
    }

    .c9-borders .borders-perc_60 {
        border-color: rgba(91,148,190,0.6);
    }

    .c9-borders .borders-perc_50 {
        border-color: rgba(91,148,190,0.5);
    }

    .c9-borders .borders-perc_40 {
        border-color: rgba(91,148,190,0.4);
    }

    .c9-borders .borders-perc_30 {
        border-color: rgba(91,148,190,0.3);
    }

    .c9-borders .borders-perc_20 {
        border-color: rgba(91,148,190,0.2);
    }

    .c9-borders .borders-perc_10 {
        border-color: rgba(91,148,190,0.1);
    }

.c10-borders {
    border-color: #fbd303;
    border-color: rgba(251,211,3,1);
}

    .c10-borders .borders-perc_90 {
        border-color: rgba(251,211,3,0.9);
    }

    .c10-borders .borders-perc_80 {
        border-color: rgba(251,211,3,0.8);
    }

    .c10-borders .borders-perc_70 {
        border-color: rgba(251,211,3,0.7);
    }

    .c10-borders .borders-perc_60 {
        border-color: rgba(251,211,3,0.6);
    }

    .c10-borders .borders-perc_50 {
        border-color: rgba(251,211,3,0.5);
    }

    .c10-borders .borders-perc_40 {
        border-color: rgba(251,211,3,0.4);
    }

    .c10-borders .borders-perc_30 {
        border-color: rgba(251,211,3,0.3);
    }

    .c10-borders .borders-perc_20 {
        border-color: rgba(251,211,3,0.2);
    }

    .c10-borders .borders-perc_10 {
        border-color: rgba(251,211,3,0.1);
    }

/*	--------------------------------------------------
	4.0 BUTTONS
	-------------------------------------------------- */

html.no-touch .btn.c1-borders:hover, .btn.c1-borders:active, .btn.c1-borders:focus {
    color: #333333;
    background-color: #fddf41;
}
		
	html.no-touch .btn.c2-borders:hover, .btn.c2-borders:active, .btn.c2-borders:focus {
		color:rgba(255,255,255,1);
		background-color:rgba(32,32,32,1);
		}
		
	html.no-touch .btn.c3-borders:hover, .btn.c3-borders:active, .btn.c3-borders:focus {
		color:rgba(255,255,255,1);
		background-color:rgba(8,8,8,1);
		}
		
	html.no-touch .btn.c4-borders:hover, .btn.c4-borders:active, .btn.c4-borders:focus {
		color:rgba(236,27,71,1);
		background-color:rgba(247,247,247,1);
		}

html.no-touch .btn.c5-borders:hover, .btn.c5-borders:active, .btn.c5-borders:focus {
    background-color: #fddf41;
    color: #333333;
}
		
	html.no-touch .btn.c6-borders:hover, .btn.c6-borders:active, .btn.c6-borders:focus {
		color:rgba(236,27,71,1);
		background-color:rgba(223,219,220,1);
		}


html.no-touch .btn.c7-borders:hover, .btn.c7-borders:active, .btn.c7-borders:focus {
    color: rgba(236,27,71,1);
    background-color: rgba(29,91,151,1);
}

html.no-touch .btn.c8-borders:hover, .btn.c8-borders:active, .btn.c8-borders:focus {
    color: rgba(236,27,71,1);
    background-color: rgba(59,118,163,1);
}

html.no-touch .btn.c9-borders:hover, .btn.c9-borders:active, .btn.c9-borders:focus {
    color: rgba(236,27,71,1);
    background-color: rgba(91,148,190,1);
}

html.no-touch .btn.c10-borders:hover, .btn.c10-borders:active, .btn.c10-borders:focus {
    color: rgba(236,27,71,1);
    background-color: rgba(251,211,3,1);
}

/*	--------------------------------------------------
	END
	-------------------------------------------------- */


    .navigation .main_phone a {
        text-decoration: none;
        cursor: none;
    }


.main_phone {
    float: right;
    padding-top: 27px;
    padding-right: 220px;
    display: block;
}

@media screen and (min-width:992px) and (max-width:1230px) {
    

    .main_phone {
        display: none;
    }
}





@media (max-width:992px) {
   .main_phone {
        display: block;
        float: right;
        padding-right: 56px;
        padding-top: 19px;
        color: #1d5b97;
    }
}	

